/*
===========================================================
Componente: FeaturedProducts
Proyecto: SKECHERS E-Commerce
===========================================================
*/

.featured-products{

    padding:100px 6%;

    background:#ffffff;

}